body {
  font-family: 'Kievit Offc Pro';
  letter-spacing: 0.75px;
  background:#333;
  background-size: 100%;
  color:#fff;
  margin:0;
  padding:0;
  font-weight:bold;
}

/* background repeat */
body.background-repeat {
    background-size: auto;
    background-repeat: repeat;
}

/* background center */
body.background-center {
    background-size: 100%;
    background-repeat: no-repeat;
}

h1, h2, h3, p {
  margin:0;
}

ul.dark {
  font-size: 80%;
  font-weight: bold;
  letter-spacing: 0.15px;
  line-height: 120%;
  font-style: italic;
  font-weight: 100;
  color: #333;
  margin-top: -30px;
}

li {
  font-size: 160%;
  font-weight: normal;
  letter-spacing: 0.15px;
  line-height: 160%;
  font-style: italic;
  font-weight: 100;
}

/* ordered, numbered, smaller list*/
ol.mini li {
  font-size: 100%;
  font-weight: normal;
  letter-spacing: 0.15px;
  line-height: 110%;
  font-style: italic;
  font-weight: 100;
  margin-left: 15%;
}

/* bold font */
em, a {
  font-weight: 500;
  /* merriweather blue */
  color: #4BC5A8;
}

/* bold font as blue link */
em, a.highlighter {
  color: #4BC5A8;
}


/* bold font */
em.page, a {
  font-weight: 500;
  /* merriweather blue */
  color: #4BC5A8;
  font-size: 40px;
  line-height: 60%;
}


/* thin spaced font */
em.subhead {
  font-weight: 200;
  /* merriweather blue */
  color: #4BC5A8;
  letter-spacing: -0.75px;
  font-style: normal;
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 25px;
}


/* link color */
a {
  text-decoration:underline;
  color:#607EEA;
  font-size: 100%;
}

/* highlighter */
a.highlighter {
  background: #fff;
  color:#444;
  text-decoration: none;
  line-height: 120%;
  padding-left: 10px;
  padding-right: 15px;
}

/* highlighter white on black small */
a.highlighter-w {
  background: #fff;
  color:#444;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 40px;
}

/* highlighter white on black medium */
a.highlighter-x {
  background: #fff;
  color:#444;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 40%;
  line-height: 100%;
}

a.highlighter-blue {
  background: #9facd8;
  color: #fff;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 90px;
  line-height: 125%;
}

a.highlighter-blue-li {
  background: #9facd8;
  color: #fff;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 30px;
  line-height: 140%;
}


a.highlighter-blue-sm {
  background: #fff;
  color:#444;
  text-decoration: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
  text-align: left;
  font-size: 20%;
}

img.bg {
  /* Set rules to fill background */
  min-height: 30%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 10%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

/* regular sized image */
img.norm {
  /* Set rules to fill background */
  min-height: 30%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 10%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

img.norepeat {
  background-repeat: no-repeat;
}

div.italic {
  font-family: 'Kievit Offc Pro';
  letter-spacing:-2px;
  background:#000;
  background-size:80%;
  color:#fff;
  margin:0;
  padding:0;
  font-weight:italic;
}

div {
  position:absolute;
  top:0px;
  left:0px;
  padding:75px;
  line-height:110%;
  border:0;
  width: 75%;
}

div.center {
  text-align:center;
}

div.imageText {
  text-shadow:0px 0px 5px rgba(0,0,0,0.2);
}


notes {
    display:none;
}
/* normally not good, but ok in context of full screen directional navigation */
:focus {
    outline: 0;
}

pre {
    margin:0;
    padding: 6em;
    background:#fff;
    color:#000;
    font-weight:normal;
    line-height: 250%;
    letter-spacing: 1px;
    font-size: 130%;
}

pre em {
    color:#000;
    background:yellow;
}
