body {
  font-family: 'Kievit Offc Pro';
  letter-spacing: 2px;
  background:#000;
  background-size:100%;
  color:#fff;
  margin:0;
  padding:0;
  font-weight:bold;
  font-size: 100px;
}

h1, h2, h3, p {
  margin:0;
}

em, a {
  font-style:normal;
  color:#0d82fa;
  background-color: #fff;
  font-size: 60px;
  letter-spacing: 0px;
}

a {
  background: #0d82fa;
  color:#000;
  text-decoration:underline;
}

img {
  height: 50%;
}

div.italic {
  font-family: 'Kievit Offc Pro';
  letter-spacing:-2px;
  background:#000;
  background-size:80%;
  color:#fff;
  margin:0;
  padding:0;
  font-weight:italic;
}

div {
  cursor:pointer;
  cursor:hand;
  position:absolute;
  top:0px;
  left:0px;
  padding:75px;
  line-height:97%;
}

div.center {
  text-align:center;
}

div.imageText {
  text-shadow:0px 0px 5px rgba(0,0,0,0.2);
}

notes {
    display:none;
}
/* normally not good, but ok in context of full screen directional navigation */
:focus {
    outline: 0;
}

