body {
  font-family: 'Kievit Offc Pro';
  background:#000;
  background-size: 100%;  /* 100%; */
  color:#fff;
  margin:0;
  padding:0;
  font-weight:bold;
}

body.bg-full {
  background-size: cover;
}

p {
  margin:0;
}

h1 {
  margin:0;
  background-size: cover;
  color: #0d82fa;
  line-height: 80%;
}

h2 { /* color change */
  font-style:normal;
  background-size: 100%;
  color: #0d82fa;
  line-height: 120%;
}

h3 {
  font-size: 90px;
  color: #fff;
  background-color: rgba(30,181,19,0.75);
  line-height: 80px;
}

em { /* color and bg */
  font-style:normal;
  color: #0d82fa;
  background-color: #fff;
  line-height: 120%;
}

a {
  background: #0d82fa;
  color:#000;
  text-decoration:underline;
  line-height: 120%;
}

div.italic {
  font-family: 'Kievit Offc Pro';
  letter-spacing:-2px;
  background:#000;
  background-size:80%;
  color:#fff;
  margin:0;
  padding:0;
  font-weight:italic;
}

div {
  cursor:pointer;
  position:absolute;
  top:0px;
  left:0px;
  padding:75px;
  line-height:97%;
  font-size: 50%;
}

div.center {
  text-align:center;
}

div.imageText {
  text-shadow:0px 0px 5px rgba(0,0,0,0.2);
}

notes {
    display:none;
}
/* normally not good, but ok in context of full screen directional navigation */
:focus {
    outline: 0;
}

.center {
  text-align: center;
}
